<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAktFP0-Cgcnm2eXELclptx97s7nOr8ge4</string>
	<key>GCM_SENDER_ID</key>
	<string>383666392332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RaSoft.TarzoneApp</string>
	<key>PROJECT_ID</key>
	<string>tarzoneapp</string>
	<key>STORAGE_BUCKET</key>
	<string>tarzoneapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383666392332:ios:770999bc262f37ad090d29</string>
</dict>
</plist>